<!DOCTYPE html>
<head>
	<title>Midterm Project</title>
	 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h1><center>Phonebook Application</center></h1>
	<div id = 'app'>
		<div class="row">
			<div class="col-md-4">
					<h1><center>Create New Contact</center></h1>
					<br>
					<div class="form-group">
					<b><input class="form-control" type = 'text' v-model = 'Name' placeholder = "Name"></b>
					</div>
					<div class="form-group">
					<b><input class ="form-control" type ='text' v-model = 'PhoneNumber'placeholder = "Phone Number"></b>
					</div>
					<button class="btn btn-success form-control" v-on:click = 'addPhoneInfo'>Add to Phonebook</button>
					<br>
					<br>
		    </div>
				 <div class="col-md-8">
					<h1><center>Contact List</center></h1>
					<table class="table table-striped">
					<tr>
					<h4><b>
					<th class="noCenter">Name</th>
                    <th class="noCenter">Phone Number</th>
                    <th colspan="6">Action</th>
               		</b></h4>
					</tr>	
						<tr v-for = "user in phone_info">
						<td>{{ user.Name }}</td>
						<td>{{ user.PhoneNumber }}</td>
						<td align="center">
						<td><button class="btn btn-success form-control" v-on:click = 'deletePhoneInfo(user.Id)'>Delete</button></td>
						</td>
						</tr>
					</table>
				</div>
		</div>
	</div>
<script src = "lib/vue.js"></script>
<script src = "lib/axios.min.js"></script>
<script>
 var app = new Vue({
 		el : '#app',
 		data : {
 			Id : null,
 			user: '',
 			PhoneNumber: '',
 			Name: '',
 			phone_info: '',

 		},
 		mounted: function () {
 			axios.post('request.php', {
 				typ:'getdata'
 			})
 			.then(function(response){
 				app.phone_info = response.data;
 				console.log(response);
 			})
 			.catch(function(err){
 				console.log(err);
 			});

 		},
 		methods: {
 			addPhoneInfo: function(){
 				axios.post('request.php', {
 					typ: 'adddata',
 					Name: this.Name,
 					PhoneNumber: this.PhoneNumber

 				})
 				.then(function(response){
 					alert(response.data);
 					window.location.reload();
 				})
 				.catch(function(err){
 					console.log(err);
 				});
 			},
 			deletePhoneInfo: function(index){
 				axios.post('request.php',{
 					typ: 'deletedata',
 					Id: index
 				})
 				.then(function(response){
 					alert(response.data);
 					window.location.reload();
 				})
 				.catch(function(err){
 					console.log(err);
 				})
 			}

 		}
 });
</script>
</body>
</html>