body {
    color: black;
    font-family: 'Times New Roman';
    font-size: 20px;
  }
	
  .table-striped > tbody > tr:nth-child(2n + 1) > th {
    background : #228B22;
	
  }
  .row .alert {
    margin-top: 10px;
  }
  th, td {
    border-top: none !important;
    
  }

  th {
    text-align: center;
  }

  .noCenter {
      text-align: left;
  }
  
  h1 {
    background-color: black;
    padding: 12px;
    color: white;
    border-radius: 8px;
    font-weight: bolder;
    letter-spacing: .1em;
  }
  
  .close, .close:hover {
    color: white;
  }
  
  .btn {
    font-weight: bolder;
    letter-spacing: .5em;
  background-color: black;
  }
  