.My_Table{
		border-collapse: collapse;
		margin: 25px 0;
		font-size: 0.9em;
		border-radius: 8px 8px 0 0;
		overflow: hidden;
}
	.My_Table tr th{
		background-color: #009879;
		color: #ffffff;
		text-align: left;
		font-weight: bold;
		font-size: 20px;
}
	.My_Table th, .My_Table td{
		padding: 20px 15px;
}
	.My_Table tbody tr{
		border-bottom: 2px solid #009879;
}
	.head{
		color: #009879;
		font-weight: bold;
		font-size: 50px;
}
	input[type=text] {
		border: none;
		border-bottom: 1px solid #009879;
		font-size: 20px;
		margin: 10px 0;
		font-family: century gothic, sans-serif;
		background-color: none;
		padding: 5px 10px;
}
	::-webkit-input-placeholder{
		font-family: century gothic, sans-serif;
		font-size: 18px;
		text-align: left;
}
	.button{
		background-color: #009879;
		border: none;
		border-radius: 5px;
		font-size: 20px;
		padding: 8px 25px;
		color: white;
		font-family: century gothic, sans-serif;
		cursor: pointer;
}
	.button:hover {
		background: #434343;
		letter-spacing: 1px;
		-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
		-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
		box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
		transition: all 0.4s ease 0s;
}

	.button1{
		background-color: #009879; 
		border: none; 
		border-radius: 5px; 
		font-size: 20px; 
		padding: 10px 25px; 
		color: white;
		cursor: pointer;
}
	.button1:hover {
		background: #434343;
		-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
		-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
		box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
		transition: all 0.4s ease 0s;
}
	title{
		font-family: century gothic, sans-serif;
}
	body{
		font-family: century gothic, sans-serif;
}