body {
    background: white;
    color: rgb(0,0,0);
    font-family: 'Times New Roman';
  }

  .table-striped > tbody > tr:nth-child(2n + 1) > td,
  background-color: black;
  .table-striped > tbody > tr:nth-child(2n + 1) > th {
    background-color: black; 
  }
  .row .alert {
    margin-top: 25px;
  }
  th, td {
    border-top: none !important;
    
  }

  th {
    text-align: center;
  }

  .noCenter {
      text-align: left;
  }
  
  h3 {
    background-color: rgb(0,0,0);
    padding: 12px;
    color: white;
    border-radius: 5px;
    font-weight: bolder;
    letter-spacing: .1em;
  }
  
  .close, .close:hover {
    color: violet;
  }
  
  .btn {
    font-weight: bolder;
    letter-spacing: .1em;
	background-color: rgb(0, 0, 0)
  }
  